header {
	height: 10px;
	opacity: 0.8;
}

body {
	opacity: 0.9;
}

footer {
	height: 20px;
}

.celandine {
	height: 700px;
	margin-top: 75px;
	/*border: 1px solid blue;*/
	background-image: url("../img/celandine-main.jpg");
	background-size: cover;
	background-position: center top;
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;*/
	min-width: 100%;
}

.cel-txt {
	height: 100px;
	/*border: 1px solid red;*/
	/*padding: 30px 30px 30px 30px;*/
	/*opacity: 0.9;*/
	position: relative;
	top: -40px;
	word-wrap: break-word;
	opacity: 0.9;
}

.cel-imgs {
	height: 650px;
	/*border: 1px solid red;*/
	margin-top: 100px;
	opacity: 0.9
	padding: 0;
}


.t1-img {
	height: 400px;
	width: 200px;
	background-image: url("../img/t1.jpg");
	background size: cover;
	/*border: 1px solid red;*/
	background-position: center top;
	margin-left: 0;
	position: relative;
	top: -40px;
}

.t2-img {
	height: 400px;
	width: 200px;
	background-image: url("../img/t2.jpg");
	background size: cover;
	/*border: 1px solid red;*/
	background-position: center top;
	margin-left: 0;
	position: relative;
	top: -30px;
}



/*BEGIN: amenities section*/

.amenities {
	height: 750px;
	margin-top: 100px;
	/*border: 2px solid blue;*/
}

.ameni-left{
	height: 650px;
	border: 2px solid red;
	/*z-index: 9 !important;*/
}

.ameni-right {
	height: 600px;
	opacity: 0.6;
	/*margin-top: -20px;*/
	/*z-index: 3 !important;*/
}

.ameni-left-title {
	height: 100px;
	/*z-index: 9 !important;*/
	margin-top: 60px;
	/*opacity: 0.9;*/
}

.ameni-left-img {
	min-height: 500px;
	min-width: 150%;
	background-image: url("../img/amenities1.jpg");
	background-size: cover;
	background-position: center top;
	margin-top: 75px;

}

.ameni-right-img-cntnt {
	background-image: url("../img/amenities2.jpg");
	background-size: cover;
	background-position: center top;
	min-height: 200px;
	min-width: 100px;
	margin-top: 25px;
	/*opacity: 1 !important;*/
}

.ameni-right-txt {
	font-weight: bolder;
}
/*END: amenities section*/



/*BEGIN: info section*/
.info {
	height: 600px;
	margin-top: 150px;
	margin-bottom: 5px;
	/*background-image: url("../img/about.jpg");*/
	background-size: cover;
	background-position: center top;
	/*background-attachment: fixed;*/
}

.about-info {
	margin-top: 75px;
}

/*END: info section*/